* {
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  -webkit-text-size-adjust: 100%;
}

header h1 {
  position: absolute;
  top: 20px;
  left: 22px;
  padding: 6px 12px;
  background-color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-family: "Helvetica";
  line-height: 27px;
  -webkit-text-size-adjust: none;
  font-size: 30px;
}

section.left_column, section.right_column {
  width: 50%;
  float: left;
}

article {
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  padding: 12px;
}

article h1 {
  position: relative;
  margin-bottom: 25px;
  font-family: "Helvetica";
  font-size: 26px;
  line-height: 25px;
}

article h1:after {
  position: absolute;
  bottom: -10px;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  content: '';
}

section.copy {
  padding: 22px;
  -webkit-box-sizing: border-box;
  border-bottom: 1px dashed black;
}

p {
  text-indent: 2em;
  font-size: 1.1rem;
}

p:first-of-type, blockquote + p {
  text-indent: 0;
}

blockquote {
  padding: 12px;
  font-family: georgia;
  font-style: italic;
  font-size: 24px;
  color: #333;
}

figure {
  display: block;
  width: 100%;
}

figure div {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

figure img {
  display: block;
  width: 100%;
  height: auto;
}

figcaption {
  position: absolute;
  bottom: 0px;
  left: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 10px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #eee;
}

figure.gallery {
  display: none;
}

aside {
  padding: 22px;
}

aside figure {
  margin: 12px 12px 12px 0;
  overflow: hidden;
  width: 50%;
  float: left;
}

aside h2 {
  font-family: "Helvetica";
  font-size: 1.4rem;
  line-height: 25px;
}

@media screen and (max-width: 600px) {
  section.left_column, section.right_column {
    width: 100%;
    float: none;
  }
}
